### Importando Pandas

In [1]:
import pandas as pd

### Ler dataset e o colocar em uma variavel

In [3]:
file = pd.read_csv('./dataset_doencas_coracao.csv')

In [7]:
file.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

### Filtrar pacientes do sexo feminino ( =0 ) que faleceram

In [39]:
female_death = file[(file['DEATH_EVENT'] == 1) & (file['sex'] == 0)]

### Quantidade total de mortes de mulheres

In [45]:
female_death['age'].count()

34